/******************************************************************************
TIP: Menu theme displays your links with images from settings.json

Edit / copy or create your own CSS file in public/styles/themes
Select your chosen CSS by adding the theme name (e.g. menu) in settings.json
******************************************************************************/

:root {
  --color-bg: var(--glitch-purple);
  --color-text-main: var(--color-text-main);
}
body {
  /**background-image: url("https://cdn.glitch.global/db4b0556-ccae-4a19-bbb6-7b7e7049aa12/background_bio.png?v=1671966453614");**/
  background: fixed linear-gradient(180deg, #090938, #090938, #b03ae6, #6eb4cd);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
ul.link-list li a {
  display: flex;
}
ul.link-list li a:link,
ul.link-list li a:visited {
  background-color: var(--color-primary);
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-weight: bold;
  min-height: 4.5rem;
}
ul.link-list li a span {
  text-align: justify;
  line-height: 1.2em;
  flex-grow: 1;
  text-align: center;
}
ul.link-list li a:hover, ul.link-list li a:focus {
  background-color: var(--color-bg);
  color: white;
}
ul.link-list li a img {
  border-radius: 0.2rem;
  width: 3rem;
  overflow: visible;
}
.social-profile-icon path:hover, .social-profile-icon path:focus {
  fill: #FFFFFF !important;
  background-color: #000000 !important;
}
